fastapi
uvicorn[standard]
python-multipart
pydantic
motor
pymongo
pdfplumber
PyMuPDF
pikepdf
pdf2image
opencv-python-headless
numpy
Pillow
scikit-image
pandas
openpyxl
torch
torchvision